/*BUSCADOR*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/fondo.jpg);
}
body.ElectroFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoElectrico.jpg);
}
body.ConstruccionFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoConstruccion.jpg);
}
body.FondoBulon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoBulon.jpg);
}
body.FondoMadera {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoMadera.jpg);
}
body.FondoGas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoGas.jpg);
}
body.SanitariosFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoSanitario4.jpg);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/fondo.jpg);
  background-size: cover;
  color: rgb(0, 0, 0);
  padding: 20px 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}
header h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
}
header.FondoBulon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoBulon.jpg);
}
header.FondoMadera {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoMadera.jpg);
}
header.ConstruccionFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoConstruccion.jpg);
}
header.ElectroFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoElectrico.jpg);
}
header.FondoGas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoGas.jpg);
}
header.SanitariosFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../imagenes/FondosPaginas/FondoSanitario4.jpg);
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(210, 238, 230, 0.573);
  border-radius: 10px;
}

nav {
  padding-top: 20px;
}
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav ul li a:hover {
  background-color: rgba(221, 88, 88, 0.715);
  color: rgb(255, 255, 255);
}
nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  background: rgb(187, 215, 207);
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 1000;
}
nav ul li .dropdown-menu li {
  display: block;
}
nav ul li .dropdown-menu li a {
  display: block;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
nav ul li:hover .dropdown-menu {
  display: block;
}

.hero {
  text-align: center;
  background-color: rgba(210, 238, 230, 0.573);
  border-radius: 10px;
  padding: 10px 0;
}
.hero h2 {
  margin: 0 0 20px;
  color: rgb(0, 0, 0);
}
.hero p {
  color: black;
  font-size: 1.2rem;
}

.productos {
  margin-top: 10px;
}
.productos h2 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  background-color: rgba(210, 238, 230, 0.573);
  border-radius: 10px;
  padding: 10px;
  animation: cambioFondo 2s infinite;
}
@keyframes cambioFondo {
  0% {
    background-color: rgba(210, 238, 230, 0.573);
  }
  50% {
    background-color: rgba(221, 88, 88, 0.715);
  }
  100% {
    background-color: rgba(210, 238, 230, 0.573);
  }
}
.productos .product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.productos .product-card {
  background: rgb(210, 238, 230);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
}
.productos .product-card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 10px;
}
.productos .product-card h3 {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.productos .product-card p {
  margin: 10px 0;
  color: rgb(51, 51, 51);
}
.productos .product-card .price {
  font-weight: bold;
  color: rgb(0, 128, 0);
}
.productos .product-card button {
  padding: 10px 15px;
  border: none;
  background-color: rgba(221, 88, 88, 0.715);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.productos .product-card button:hover {
  background-color: rgba(221, 88, 88, 0.9);
}

/*ASIDE*/
.aside-products {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: rgb(230, 230, 230);
  border: 2px solid rgb(204, 204, 204);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

footer {
  background: rgba(221, 88, 88, 0.715);
  color: white;
  padding: 10px 0;
  text-align: center;
}
footer .footer-contact, footer .footer-social {
  margin: 10px 0;
}
footer .footer-contact a, footer .footer-social a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}
footer .footer-contact a:hover, footer .footer-social a:hover {
  color: #007bff;
}
footer .footer-social a {
  margin: 0 5px;
}

.sidebar {
  background: rgba(221, 88, 88, 0.715);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}
.sidebar h3 {
  margin-top: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
}

.product-card img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .product-card {
    flex: 1 1 100%;
  }
  .search {
    width: 90%;
  }
  nav ul {
    text-align: left;
  }
  nav ul li {
    display: block;
    margin: 0;
  }
  nav ul .dropdown-menu {
    position: static;
    width: 100%;
  }
}
.FondoFerre {
  background-image: url(../imagenes/FondosPaginas/FondoFerre.jpg);
}

.gallery {
  padding: 20px;
  background-image: url(../imagenes/FondosPaginas/FondoFerre.jpg);
}
.gallery h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  background-color: rgba(210, 238, 230, 0.573);
}
.gallery .gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
}
.gallery .gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.gallery .gallery-item img:hover {
  transform: scale(1.05);
}
.gallery .descriptionG {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(210, 238, 230, 0.573);
  border-radius: 8px;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}
.search-container .search {
  padding: 10px;
  width: 80%;
  max-width: 500px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  font-size: 1rem;
}

.aside-publicidad {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.product-publi {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.product-publi img {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 100px;
}

.product-publi p {
  font-family: "Roboto", sans-serif;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background-color: rgba(210, 238, 230, 0.573);
  border: 20px;
  border-radius: 5px;
}

.comment-section {
  padding: 2rem;
  background-color: rgba(210, 238, 230, 0.573);
  border-radius: 8px;
  margin-top: 2rem;
}
.comment-section .comment-header {
  margin-bottom: 1rem;
}
.comment-section .comment-header h2 {
  font-size: 1.5rem;
  color: rgb(51, 51, 51);
  text-align: center;
}
.comment-section .comment-form {
  margin-bottom: 2rem;
}
.comment-section .comment-form form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.comment-section .comment-form form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.comment-section .comment-form form input,
.comment-section .comment-form form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.comment-section .comment-form form button {
  background-color: rgb(0, 123, 255);
  color: rgb(221, 221, 221);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.comment-section .comment-form form button:hover {
  background-color: rgb(0, 86, 179);
}
.comment-section .comment-list .comment-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.comment-section .comment-list .comment-item p {
  margin: 0;
}
.comment-section .comment-list .comment-item strong {
  color: rgb(51, 51, 51);
}

/*# sourceMappingURL=styles.css.map */
